header {
    width: 100%;
    height: 293px;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
}

.container {
    display: grid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 92px;
    grid-template-columns: 1fr min-content 1fr;
    grid-auto-rows: auto;
    align-items: center;
}

.header__link {
    display: block;
    justify-self: center;
}

.header__logo-image {
    display: block;
    width: 148px;
    height: 105px;
}

.header__menu {
    justify-self: left;
}

.header__links-list {
    display: flex;
    padding-left: 4px;
    justify-content: space-evenly;
    gap: 28px;
    list-style: circle;
}

.header__links-list-item {
    font-size: 18px;
}

.head-list-item,
.lots__card-list-item {
    list-style: none;
}

.header__link_active,
.footer__menu-link_active {
    text-decoration: none;
}

address {
    all: unset;
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    max-width: 240px;
    justify-self: end;
    padding-right: 40px;
}

.content-section {
    padding-left: 24px;
    padding-right: 24px;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    /* min-height: 757px; */
    background-position: center;
    background-size: cover;
    font-color: #FFFFFF;
    z-index: -1;

}

.overlay {
    position: absolute;
    inset: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;
}

h1, 
.cover__description {
    position: relative; 
    z-index: 1;
    color: #FFFFFF;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

.cover__title {
    padding-top: 165px;
    padding-left: 50px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    letter-spacing: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 106px 50px 50px 50px;
    font-size: 22px;
    left: 0;
    right: 0;
}

.cover__description-text {
    font-size: 22px;
    word-spacing: 18px;
}

.bet-button {
    all: unset;
    border: 1px solid white;
    padding: 12px 32px 11px 31px;
    background: transparent;
}

.lots {
    min-height: 723px;
    margin-top: 180px;
}

.lots__heading {
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots__card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    all: unset;
    width: 334px;
    min-height: 596px;
}

.card-link,
.card {
    height: 100%;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: stretch;
    background-position: center;
    background-size: cover;

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);

}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.text-layer {
    position: absolute;
    color: #FFFFFF;
    z-index: 1; 
    padding: 48px 40px;
}

.card-link {
    text-decoration: none;
}

.card__title {
    text-decoration: underline;
    font-size: 22px;
}

.card__text {
    margin-left: auto;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: min-content 1fr;
    margin-top: 155px;
}

.about__logo-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    background-image: url(../images/logo-white.svg);
    background-repeat: no-repeat;
    background-size: 62%;
    background-position: center;
    
}

.about__title-container {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 26px;
}

.about__text-container {
    grid-column: 2;
    grid-row: 2;
}

.about__text-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
} 

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 7px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    min-height: 180px;
    align-items: start;
    margin-top: 180px;
}

.footer__address {
    justify-self: center;
}

.footer__menu-list-item,
.footer__social-list {
    list-style: none;
}

.footer__menu {
    display: flex;
    justify-content: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    justify-content: center;
    padding-left: 20px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}